/* HTML Styles */

html {
    overflow: hidden;
    height: 100%;
}

/* Body Styles */

body {
    font-family: 'Cairo', sans-serif;
    height: 100%;
    overflow: auto;
}

/* Navbar Styles */

.navbar {
    box-shadow: 0px 5px 5px gray;
}

.nav-item {
    font-size: 1.15rem;
}

.nav-icon {
    font-size: 2rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav i:hover {
    transform: scale(1.2);
}

/* Footer Styles */

.page-footer {
    box-shadow: 0px -5px 5px gray;
}

.page-footer button {
    border-radius: 0;
}

.page-footer button:hover {
    background-color: #fff !important;
    color: #000 !important;
}

.footer-content {
    padding-bottom: 1.5rem;
}

/* Modal Styles */

#form-error {
    display: none;
}

/* Media Queries */

@media only screen and (min-width: 992px) {
    .footer-nav-icons {
        display: none;
    }
}