/* Body Styles */
body {
    font-family: 'Abril Fatface', cursive;

}

/* Navbar Styles */

.navbar {
    box-shadow: 0px 5px 5px gray;
}

.nav-item {
    font-size: 1.15rem;
}

.nav-icon {
    font-size: 2rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav i:hover {
    transform: scale(1.2);
}

/* Footer Styles */

.page-footer {
    box-shadow: 0px -5px 5px gray;
}