/* Showcase Styles */

.projects-section {
    padding: 10rem 0;
}

.projects-section .featured-text {
    padding: 2rem;
}

.container img {
    opacity: 0.8;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.container img:hover {
    opacity: 1.0;
}

.featured-image {
    box-shadow: 0px 0px 3px 3px black;
}

@media (min-width: 992px) {
    .projects-section .featured-text {
        padding: 0 0 0 2rem;
        border-left: 0.5rem solid #000;
    }
}

.projects-section .project-text {
    padding: 3rem;
    font-size: 90%;
}

@media (min-width: 992px) {
    .projects-section .project-text {
        padding: 5rem;
    }

    .projects-section .project-text hr {
        border-color: #fff;
        border-width: .25rem;
        width: 30%;
    }
}

/* Background Styles */

.bg-black {
    background-color: #161616 !important;
}